<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>New article on awesome Teknavo Blog</h1>
<p>
  Look at <%= article_url(@article) %>
</p>
<p>
  To unsubscribe, just follow this link: <%= unsubscribe_url(id: @user.id, code: @user.unsubscribe_code) %>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>